.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-img-container {
  padding: 20px 0;
  justify-content: center;
  display: flex;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
  segoe ui, arial, sans-serif;  
  font-size: 1.4em;
  font-weight: 800;
}

.transitions-item {
  overflow: hidden;
  width: 100%;
  color: white;
  align-items: center;
  text-transform: uppercase;
  will-change: transform, opacity, height;
  white-space: nowrap;
  cursor: pointer;
  line-height: 30px;
}

.button {
  margin: auto;
  background-color: #8fa5b6;
  color: white;
  width: 300px;
  height: 80px;
  pointer-events: auto;
  transform-origin: 50% 50% 0px;
  padding: 24px 32px;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.2);
}

.band {
  padding: 60px 0;
}

.prompt {
  padding: 20px 0;
}
